@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: MyFont;
    src: url(../fonts/Satriana.ttf);
}
body{
	font-size:14px;
	font-family:"微软雅黑","黑体";
	line-height:1.2em;
	background:#ADD8E6;
	margin:0;
	overflow-x:hidden;
}
h1{
	font-family:MyFont;
	text-align:center;
	color: #696969;
}
p{
	text-align:center;
	color: #696969;
}
img{
	vertical-align:middle;
}
li{
	list-style:none;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none; 
	color:#000000;
}
a:link{
	text-decoration:none; 
	color:#000000;
}
a:visited{
	text-decoration:none; 
	color:#000000;
}
a:hover{
	text-decoration:none; 
	color:#000000;
}
a:active{
	text-decoration:none; 
	color:#000000;
}
.clearfix:after{
	display:block;
	content:"";
	clear:both;
}
.clearfix{
	*zoom:1;
}